In [7]:
import pandas as pd

In [8]:
import dabl

In [68]:
Oil_schedule = pd.read_csv('/Users/Lawrence/P6_Schedule_Data.csv')

In [69]:
Oil_schedule.set_index("ACTIVITY_STATUS", inplace=True)

In [70]:
Completed=Oil_schedule.loc['Completed']

In [71]:
Completed.set_index("Id", inplace=True)

In [72]:
Completed.shape

(67578, 12)

In [92]:
Completed.head()

,ProjectNumber,ProductLineNumber,DepartmentNumber,ActivityTypeNumber,Code,ClassNumber,Baseline Start Date,Baseline Finish Date,Planned Duration,Forecast Start Date,Forecast Finish Date,Forecast Duration
Id,,,,,,,,,,,,
1,1,2,5,27,2.5.1.1,1,16/01/2019 00:00,18/02/2019 00:00,33,16/01/2019 00:00,18/02/2019 00:00,33
2,1,2,3,51,3.6.400.2,1,20/12/2018 00:00,26/09/2019 00:00,280,20/12/2018 00:00,26/09/2019 00:00,280
3,1,2,5,27,2.5.1.1,1,07/01/2019 00:00,06/02/2019 00:00,30,07/01/2019 00:00,06/02/2019 00:00,30
4,1,2,5,27,2.5.1.1,1,08/01/2019 00:00,06/02/2019 00:00,29,08/01/2019 00:00,06/02/2019 00:00,29
5,1,2,3,51,3.4.6.3,1,07/01/2019 00:00,07/02/2019 00:00,31,07/01/2019 00:00,07/02/2019 00:00,31

In [74]:
Completed_clean = dabl.clean(Completed, verbose=0)

In [ ]:
print (Completed_clean)

In [76]:
types = dabl.detect_types(Completed_clean)

In [ ]:
print (types)

In [ ]:
dabl.plot(Completed, 'Forecast Duration')
#  will give you a quick insight in to what are the important features, their interactions, and how hard the problem might be. 
# It also allows a good assessment of whether there is any data leakage through spurious representations of the target in the data.

In [93]:
fc=dabl.SimpleRegressor(random_state=0)

In [94]:
X=Completed_clean.drop("Forecast Duration", axis=1)

In [95]:
y=Completed_clean['Forecast Duration']

In [110]:
Results=fc.fit(X,y)

Running DummyRegressor()
r2: -0.000 neg_mean_squared_error: -20110.011
=== new best DummyRegressor() (using r2):
r2: -0.000 neg_mean_squared_error: -20110.011

Running DecisionTreeRegressor(max_depth=1)
r2: 0.360 neg_mean_squared_error: -12865.039
=== new best DecisionTreeRegressor(max_depth=1) (using r2):
r2: 0.360 neg_mean_squared_error: -12865.039

Running DecisionTreeRegressor(max_depth=5)
r2: 0.690 neg_mean_squared_error: -6238.612
=== new best DecisionTreeRegressor(max_depth=5) (using r2):
r2: 0.690 neg_mean_squared_error: -6238.612

Running Ridge(alpha=10)
r2: 0.686 neg_mean_squared_error: -6311.918
Running Lasso(alpha=10)
r2: 0.632 neg_mean_squared_error: -7387.030

Best model:
DecisionTreeRegressor(max_depth=5)
Best Scores:
r2: 0.690 neg_mean_squared_error: -6238.612

In [111]:
dabl.explain(Results, X_val=None, y_val=None, target_col=None, feature_names=None)